@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  .background {
    header {
      height: 120px;
      .logo {
        margin-left: 10px;
        img {
          height: 40px;
        }
      }
      nav {
        display: none;
      }
      .input_wrapper {
        width: 98%;
        order: 2;
        margin-right: 5px;
        margin-left: 5px;
        #search {
          width: 94%;
          &:focus {
            width: 94%;
          }
        }
      }
      .hamburger {
        display: block;
      }
    }
    .jumbotron {
      width: 80%;
      margin-top: 8vh;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 15px;
      .jumbotron_btn {
        padding: 12px auto;
        width: 80%;
      }
    }
  }
  .main_content {
    flex-wrap: wrap;

    .side_menu {
      min-width: 100%;
      .currencies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 0;

        .currencies_item {
          overflow: hidden;
          input[type='radio']:checked + .item_title {
            border: none;
            padding-right: 10px;
          }
          input[type='radio']:checked + .small_screen {
            border-bottom: 2px solid #0548ba;
            border-right: none;
            color: #0548ba;
            transition: color .4s linear;
          }
          .small_screen {
            display: block;
            padding: 15px 20px;
          }
          .item_title {
            display: none;
          }
        }
      }
    }
    .articles {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media only screen
and (min-width : 481px)
and (max-width : 768px) {
  .background {
    header {
      height: 80px;
      .logo {
        margin-left: 10px;
        img {
          height: 30px;
        }
      }
      nav {
        display: none;
      }
      .input_wrapper {
        margin-right: 10px;
        #search {
          width: 180px;
          &:focus {
            width: 220px;
          }
        }
      }
      .hamburger {
        display: block;
      }
    }
    .jumbotron {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .main_content {
    .side_menu {
      min-width: 15%;
      .currencies {
        text-align: center;
        .currencies_item {
          overflow: hidden;
          input[type='radio']:checked + .item_title {
            border: none;
            padding-right: 8px;
          }
          .small_screen {
            display: block;
            padding: 15px 10px;
          }
          .item_title {
            display: none;
          }
        }
      }
    }
    .articles {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media only screen
and (min-width : 769px)
and (max-width : 1200px) {

  .background {
    header {
      align-content: space-around;
      .logo {
        margin-left: 40px;
        img {
          height: 60px;
        }
      }
      nav {
        width: 100%;
        order: 2;
      }
      .input_wrapper {
        margin-right: 40px;
      }
    }
  }
  .main_content {
    .side_menu {
      .currencies {
        .currencies_item {
        }
      }
    }
  }


}

