@import "normalize";
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

$text_color: #acb2bb;
$hover_text_color: #ffffff;
$main_background: #f1efe5;
$main_text_color: #455a64;
$main_text_hover: #0548ba;

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: $hover_text_color;

}
ul {
  list-style-type: none;
  padding: 0;
}

.background {
  min-height: 100%;
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid white;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transition: background-color .3s ease-out;
    }
    .logo {
      margin-left: 80px;
      display: block;
      img {
        display: block;
        height: 80px;
      }
    }
    .navbar {
      width: 42%;
      display: flex;
      justify-content: space-around;
      align-content: center;

      .navbar_item {
        font-weight: 600;
        color: $hover_text_color;

        a:hover {
          border-bottom: 1px solid $hover_text_color;
          cursor: pointer;
        }
      }
    }
    .input_wrapper {
      position: relative;
      margin-right: 80px;
      overflow: hidden;

      #search {
        height: 30px;
        width: 140px;
        flex-basis: 140px;
        background: none;
        border: 1px solid $text_color;
        border-radius: 20px;
        color: $hover_text_color;
        font-family: 'Roboto', sans-serif;
        padding-left: 20px;
        font-style: italic;
        transition: width .3s ease-out;

        &::-webkit-input-placeholder {color:#fff; font-style: italic;}
        &::-moz-placeholder          {color:#fff; font-style: italic;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#fff; font-style: italic;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#fff; font-style: italic;}
        &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
        &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
        &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
        &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
        &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
        &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
        &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
        &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

        &:focus {
          outline: none;
          border-color: $hover_text_color;
          width: 200px;
          transition: width .3s ease-out;
        }
      }

      .search_btn {
        background: none;
        position: absolute;
        height: 50px;
        width: 50px;
        color: $text_color;
        padding: auto;
        right: 0;
        top: -9px;
        border: none;

        &:hover {
          cursor: pointer;
          color: $hover_text_color;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .hamburger {
      display: none;
      .hamburger-box {
        .hamburger-inner {
          background-color: $text_color;
          &:after,&:before {
            background-color: $text_color;
          }
        }
      }
    }
  }
  .jumbotron {
    margin-top: 14vh;
    margin-left: 10vw;
    width: 50%;
    color: $hover_text_color;
    border: 1px solid $text_color;
    border-radius: 5px;
    padding: 10px 30px;
    transition: border .2s ease-out;
    &:hover {
      transition: border .2s ease-out;
      border-color: $hover_text_color;
    }
    .jumbotron_btn {
      text-align: center;
      padding: 12px 30px;
      margin-bottom: 20px;
      display: inline-block;
      border: 1px solid $text_color;
      border-radius: 3px;
      transition: background-color .2s ease-out;
      &:hover {
        cursor:pointer;
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color .2s ease-out;
      }
    }
  }
}

.main_content {
  padding-top: 40px;
  color: $main_text_color;
  background-color: $main_background;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;

  .side_menu {
    min-width: 20%;
    height: 100%;
    .currencies {
      padding-top: 50px;

      .currencies_item {
        input[type='radio'] {
          display: none;
        }
        input[type='radio']:checked + .small_screen + .item_title {
          border-right: 2px solid $main_text_hover;
          padding-right: 18px;
          color: $main_text_hover;
          font-weight: 600;
          transition: color .4s linear;
        }
        input[type='radio']:checked + .small_screen {
          border-right: 2px solid $main_text_hover;
          color: $main_text_hover;
          transition: color .4s linear;
        }

        .small_screen {
          display: none;
          transition: color .4s linear;
          &:hover {
            cursor: pointer;

          }
        }
        .item_title {
          display: block;
          text-align: right;
          padding: 30px 20px;
          transition: color .4s linear;
          &:hover {
            cursor: pointer;
          }
          .fa {
            padding-left: 10px;
          }
        }
      }
    }
  }
  .articles {
    flex-basis: 60vw;
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    height: 600px;
    overflow-y: auto;
    .link {
      color: $main_text_hover;
      text-align: left;
      &:hover {
        font-weight: 600;
        cursor: pointer;
      }
    }
    .text {
      animation: appearance .8s;
    }
  }
  .footer {
    width: 100%;
    margin-top: 50px;
    background-color: #373e42;
    opacity: .85;
    display: flex;
    justify-content: space-around;
    align-items: center;
    hr {
      display: none;
    }
    img {
      opacity: .6;
    }
    .footer_about {
      flex-grow: 1;
      margin-left: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      p {
        color: $text_color;
      }
    }
    .footer_nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      flex-grow: 1;
      .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .navbar_menu {
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          &:hover {
          }
          a {
            color: $text_color;
            text-decoration: none;
            font-weight: 600;
            box-sizing: content-box;
            &:hover {
              cursor: pointer;
              color: $hover_text_color;
            }
          }
        }
      }
      .social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .social_item {
          margin-left: 30px;
          a{
            color: #fff;
            opacity: .6;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .footer_contacts {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1;
      a {
        text-decoration: none;
        color: #fff;
        margin-bottom: 10px;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      a.no-hover {
        &:hover {
          opacity: .6;
        }
      }
    }
  }
}

@keyframes  appearance {
  from { opacity: .1;}
  to { opacity: 1;}
}
@keyframes moveup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(400px);
  }
}
@import 'media';
