@import "normalize";
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

$text_color: #acb2bb;
$hover_text_color: #ffffff;

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}

.background {
  min-height: 100%;
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom: 10vh;

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid white;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transition: background-color .3s ease-out;
    }
    .logo {
      margin-left: 80px;
      display: block;
      img {
        display: block;
        height: 80px;
      }
    }
    nav {
      width: 42%;
      .navbar {
        display: flex;
        justify-content: space-around;
        align-content: center;

        .navbar_item {
          color: $hover_text_color;

          a:hover {
            border-bottom: 1px solid $hover_text_color;
            cursor: pointer;
          }
        }
      }
    }
    .input_wrapper {
      position: relative;
      margin-right: 80px;
      overflow: hidden;

      #search {
        height: 30px;
        width: 140px;
        flex-basis: 140px;
        background: none;
        border: 1px solid $text_color;
        border-radius: 20px;
        color: $hover_text_color;
        font-family: 'Roboto', sans-serif;
        padding-left: 20px;
        font-style: italic;
        transition: width .3s ease-out;

        &::-webkit-input-placeholder {color:#fff; font-style: italic;}
        &::-moz-placeholder          {color:#fff; font-style: italic;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#fff; font-style: italic;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#fff; font-style: italic;}
        &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
        &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
        &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
        &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
        &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
        &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
        &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
        &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

        &:focus {
          outline: none;
          border-color: $hover_text_color;
          width: 200px;
          transition: width .3s ease-out;
        }
      }

      .search_btn {
        background: none;
        position: absolute;
        height: 50px;
        width: 50px;
        color: $text_color;
        padding: auto;
        right: 0;
        top: -9px;
        border: none;

        &:hover {
          cursor: pointer;
          color: $hover_text_color;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .hamburger {
      display: none;
      .hamburger-box {
        .hamburger-inner {
          background-color: $text_color;
          &:after,&:before {
            background-color: $text_color;
          }
        }
      }
    }
  }
  .jumbotron {
    margin-top: 14vh;
    margin-left: 10vw;
    width: 50%;
    color: $hover_text_color;
    border: 1px solid $text_color;
    border-radius: 5px;
    padding: 10px 30px;
    transition: border .2s ease-out;

    &:hover {
      transition: border .2s ease-out;
      border-color: $hover_text_color;
    }

    .jumbotron_title {

    }
    .jumbotron_text {

    }
    .jumbotron_btn {
      text-align: center;
      padding: 12px 30px;
      display: inline-block;
      border: 1px solid $text_color;
      border-radius: 3px;
      transition: background-color .2s ease-out;


      &:hover {
        cursor:pointer;
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color .2s ease-out;

      }
    }
  }
}

@import 'media';
