doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300" rel="stylesheet")
        link(rel='stylesheet' href='style/style.css')
        script(src="https://use.fontawesome.com/c5a64877d0.js")
    body
        .background
            header
                a.logo(href='#')
                    img(src='./img/logo.png' alt='logo')
                nav
                    ul.navbar
                        li.navbar_item
                            a Lorem
                        li.navbar_item
                            a Ipsum
                        li.navbar_item
                            a Dolor
                        li.navbar_item
                            a Sit amet
                .input_wrapper
                    input#search(type='text' name='search' placeholder='search...')
                    button.search_btn.fa.fa-search
                .hamburger.hamburger--slider
                    .hamburger-box
                        .hamburger-inner
            .jumbotron
                h1
                    | About currency
                p
                    |A currency (from Middle English: curraunt, "in circulation", from Latin: currens, -entis) in the most specific
                    | use of the word refers to money in any form when in actual use or circulation as a medium of exchange, especially
                    |circulating banknotes and coins.[1][2] A more general definition is that a currency is a system of money (monetary units) in
                    |common use, especially in a nation.[3] Under this definition, US dollars, British pounds, Australian dollars, and European euros
                    | are examples of currency. These various currencies are recognized stores of value and are traded between nations in foreign exchange
                    |markets, which determine the relative values of the different currencies.[4] Currencies in this sense are defined by governments,
                    |and each type has limited boundaries of acceptance.
                a#more_btn.jumbotron_btn
                    | Read more...
        main.main_content
            aside.side_menu
                #currencies.currencies
                    .currencies_item
                        input#dollar(type='radio' name='item' value='dollar' checked='checked')
                        label(for='dollar').small_screen
                            .fa.fa-dollar.fa-lg
                        label(for='dollar').item_title
                            | Dollar
                            .fa.fa-dollar.fa-lg
                    .currencies_item
                        input#euro(type='radio' name='item' value='euro')
                        label(for='euro').small_screen
                            .fa.fa-euro.fa-lg
                        label(for='euro').item_title
                            | Euro
                            .fa.fa-euro.fa-lg
                    .currencies_item
                        input#yen(type='radio' name='item' value='yen')
                        label(for='yen').small_screen
                            .fa.fa-yen.fa-lg
                        label(for='yen').item_title
                            | Yen
                            .fa.fa-yen.fa-lg
                    .currencies_item
                        input#rupee(type='radio' name='item' value='rupee')
                        label(for='rupee').small_screen
                            .fa.fa-rupee.fa-lg
                        label(for='rupee').item_title
                            | Rupee
                            .fa.fa-rupee.fa-lg
                    .currencies_item
                        input#sheqel(type='radio' name='item' value='sheqel')
                        label(for='sheqel').small_screen
                            .fa.fa-sheqel.fa-lg
                        label(for='sheqel').item_title
                            | Sheqel
                            .fa.fa-sheqel.fa-lg
                    .currencies_item
                        input#bitcoin(type='radio' name='item' value='bitcoin')
                        label(for='bitcoin').small_screen
                            .fa.fa-bitcoin.fa-lg
                        label(for='bitcoin').item_title
                            | Bitcoin
                            .fa.fa-bitcoin.fa-lg

            article#article.articles
                h2.title Dollar
                a.link(href='https://en.wikipedia.org/wiki/Dollar' target='_blank') Wikipedia
                .text
                    p
                        | On 15 January 1520, the Czech Kingdom of Bohemia began minting coins from silver mined locally
                        | in Joachimsthal (Czech Jáchymov) and marked on reverse with the Czech lion. The coins were called
                        | joachimsthaler, which became shortened in common usage to thaler or taler. The German name "Joachimsthal"
                        | literally means "Joachim's valley" or "Joachim's dale". This name found its way into other languages:
                        | Czech tolar, Hungarian tallér, Danish and Norwegian (rigs)daler, Swedish (riks)daler, Icelandic dalur, Dutch
                        | (rijks)daalder or daler, Ethiopian ታላሪ ("talari"), Italian tallero, Greek τάλληρον, τάλιρο, tàlleron, tàliro,
                        | Polish talar, Persian dare, as well as – via Dutch – into English as dollar.
                    p
                        | A later Dutch coin also depicting a lion was called the leeuwendaler or leeuwendaalder, literally 'lion daler'.
                        | The Dutch Republic produced these coins to accommodate its booming international trade. The leeuwendaler circulated
                        | throughout the Middle East and was imitated in several German and Italian cities. This coin was also popular in the
                        | Dutch East Indies and in the Dutch New Netherland Colony (New York). It was in circulation throughout the Thirteen
                        | Colonies during the 17th and early 18th centuries and was popularly known as "lion (or lyon) dollar". The
                        | currencies of Romania and Bulgaria are, to this day, 'lion' (leu/leva). The modern American-English pronunciation
                    p
                        | Spanish pesos – having the same weight and shape – came to be known as Spanish dollars. By the mid-18th century, the
                        | lion dollar had been replaced by Spanish dollar, the famous "pieces of eight", which were distributed widely in the Spanish colonies
                        | in the New World and in the Philippines.
            footer.footer



        script(src='js/storage.js')
        script(src='js/index.js')
