doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300" rel="stylesheet")
        link(rel='stylesheet' href='style/style.css')
        script(src="https://use.fontawesome.com/c5a64877d0.js")
    body
        .background
            header
                a.logo(href='#')
                    img(src='./img/logo.png' alt='logo')
                nav
                    ul.navbar
                        li.navbar_item
                            a Lorem
                        li.navbar_item
                            a Ipsum
                        li.navbar_item
                            a Dolor
                        li.navbar_item
                            a Sit amet
                .input_wrapper
                    input#search(type='text' name='search' placeholder='search...')
                    button.search_btn.fa.fa-search
                .hamburger.hamburger--slider
                    .hamburger-box
                        .hamburger-inner
            .jumbotron
                h1
                    | Hello, everyone!
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                a(href='#main_content').jumbotron_btn
                    | Press me!
        main.main_content
            aside.side_menu
                a.anchor(name='main_content')
                #currencies.currencies
                    .currencies_item
                        input#dollar(type='radio' name='item')
                        label(for='dollar').item_title
                            | Dollar
                            .fa.fa-dollar.fa-lg
                    .currencies_item
                        input#euro(type='radio' name='item')
                        label(for='euro').item_title
                            | Euro
                            .fa.fa-euro.fa-lg
                    .currencies_item
                        input#yen(type='radio' name='item')
                        label(for='yen').item_title
                            | Yen
                            .fa.fa-yen.fa-lg
                    .currencies_item
                        input#rupee(type='radio' name='item')
                        label(for='rupee').item_title
                            | Rupee
                            .fa.fa-rupee.fa-lg
                    .currencies_item
                        input#sheqel(type='radio' name='item')
                        label(for='sheqel').item_title
                            | Sheqel
                            .fa.fa-sheqel.fa-lg
                    .currencies_item
                        input#bitcoin(type='radio' name='item')
                        label(for='bitcoin').item_title
                            | Bitcoin
                            .fa.fa-bitcoin.fa-lg



            article.articles
                h3
            footer.footer




        script(src='js/index.js')