doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300" rel="stylesheet")
        link(rel='stylesheet' href='style/style.css')
        script(src="https://use.fontawesome.com/c5a64877d0.js")
    body
        .background
            header
                a.logo(href='#')
                    img(src='./img/logo.png' alt='logo')
                nav
                    ul.navbar
                        li.navbar_item
                            a I hate
                        li.navbar_item
                            a working
                        li.navbar_item
                            a without any
                        li.navbar_item
                            a PSD layouts
                .input_wrapper
                    input#search(type='text' name='search' placeholder='search...')
                    button.search_btn.fa.fa-search
                .hamburger.hamburger--slider
                    .hamburger-box
                        .hamburger-inner




        script(src='js/index.js')